<div class="one_active_order_cart">
    <div class="client">order.client</div>
    <div class="orders">
        <div class="item">
            <span class="name">Loc 350</span>
            <span class="count">6</span>
        </div>
        <div class="item">
            <span class="name">Loc 550</span>
            <span class="count">6</span>
        </div>
    </div>
    <div class="price">
        <div class="summ">Сума : 360</div>
        <div class="ball">Бали : 360</div>
    </div>
</div>